#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fdfdfd;
    margin-top: 0px;
  }

/* estos son los diseños del css para visualizar la pagina */

/* este es el color de fondo de la pag web */
body {
    /* background-color: #fdfeff; */
    background-image: url("../rest_fondo.jpg");
    background-repeat: no-repeat;
    background-size: 1750px 950px;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  .serif {
    font-family: "Times New Roman", Times, serif;
  }
  
  .sansserif {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .monospace {
    font-family: "Lucida Console", Courier, monospace;
  }
  * {box-sizing: border-box}

/* darle al container estilo */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* estilo a los botones de entrada*/
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* eliminar el subrayado de los anclajes */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* agregar el color a los botones de las redes sociales */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
  
}
.google {
  background-color: #dd4b39;
  color: white;
  
}
/* crud es el de de abajo */
.deleteUser {
  background-color: #dd4b39;
  color: white;
  float: 50;
  width: 20%;
  margin: auto;
  padding: 15px 15px;
  margin-top: 15px;
}
.addUser {
  background-color: #3B5998;
  color: white;
  float: 50;
  width: 20%;
  margin: auto;
  padding: 15px 15px;
  margin-top: 15px;
}

.updateUser {
  background-color: #55ACEE;
  color: white;
  float: 50;
  width: 20%;
  margin: auto;
  padding: 15px 15px;
  margin-top: 15px;
}
.readUser {
  background-color: #ddd;
  color: black;
  float: 50;
  width: 20%;
  margin: auto;
  padding: 15px 15px;
  margin-top: 15px;
}
/* crud es el de arriba */

/* estilo de boton de enviar*/
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
/* el boton de abajo de buscar usuario */
.btnSearchUser {
  background-color: #ddd;
  color: black;
  float: 50;
  width: 20%;
  margin: auto;
  padding: 15px 15px;
  margin-top: 15px;
}
input[type=submit]:hover {
  background-color: #45a049;
}

/* columnas de el componente de hola*/
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Limpiar flotadores después de las columnas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* linea vertical que separa el login de RRSS con la de usuario y contraseña*/
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ccc;
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
  .btn {
    border: none; 
    color: white; 
    padding: 14px 28px;
    cursor: pointer; 
  }
  
  .success {background-color: #4CAF50;} 
  .success:hover {background-color: #46a049;}
  
  .info {background-color: #2196F3;} 
  .info:hover {background: #0b7dda;}
  
  .warning {background-color: #ff9800;} 
  .warning:hover {background: #e68a00;}
  
  .danger {background-color: #f44336;} 
  .danger:hover {background: #da190b;}
  
  .default {background-color: #e7e7e7; color: black;} 
  .default:hover {background: #ddd;}
}

a {
  text-decoration: none;

}



