<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login y registro - FN</title>
    <link rel="stylesheet" href="assets/css/estilos.css">

</head>
<body>
    <main>

<div class="contenedor__todo"></div>

<div class="caja__trasera">
<div class="caja__trasera-login">
    <h3>ya tienes una cuenta ?
    </h3>
    <p>iniciar sesion</p>
    <button id="btn__iniciar_sesion">iniciar sesion</button>
</div>
<div class="caja__trasera-register">
    <h3>aun no tienes una cuenta? ?
    </h3>
    <p>iniciar sesion</p>
    <button id="btn__iniciar-sesion">registrar</button>
    </div>
    
    <div class="contenedor__login-register">
<form action=""class="fromulario__login">

<h2>iniciar sesion</h2>
    <input type="text" placeholder="correo electronico">
    <input type="password" placeholder="contraseña">
    <button>entrar</button>
    </form>

    <form action ="" class ="formulario__register">
    <h2>registrarse</h2>
    <input type="text"placeholder="nombre completo">
    <input type="text"placeholder="correo electronico">
    <input type="text"placeholder="usuario">
    <input type="password"placeholder="contraseña">
    <button>registrarse</button>
    </form>   
    </div>
</div>
</main>
</body>
</html>